@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Kalnia+Glaze:wght@100..700&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

/* Inter Tight        |  Sans-Serif Header        */
/* Kalnia Glaze       |  Coloured Serif Display   */
/* Noto Serif Display |  Uncoloured Serif Display */
/* Red Hat Display    |  Main Body Text           */
/* Zen Maru Gothic    |  CJK Characters           */

:root{
   --base-1: hsl(240, 30%, 28%);
   --base-2: hsl(240, 20%, 38%);
   --base-3: hsl(240, 12%, 54%);
   --base-4: hsl(240, 4%, 74%);
   --base-5: hsl(240, 2%, 88%);
   --a-red: #;
   --a-orange: #;
   --a-yellow: #;
   --a-green: #;
   --a-teal: #;
   --a-blue: #;
   --a-violet: #;
}

* {
   font-family: 'Red Hat Display';
   color: var(--base-1);
}

/* Colour Classes */
.c1 {
   /* red */
   colour: var(--a-red);
}

.c2 {
   /* orange */
   colour: var(--a-orange);
}

.c3 {
   /* yellow */
   colour: var(--a-yellow);
}

.c4 {
   /* green */
   colour: var(--a-green);
}

.c5 {
   /* teal */
   colour: var(--a-teal);
}

.c6 {
   /* blue */
   colour: var(--a-blue);
}

.c7 {
   /* violet */
   colour: var(--a-violet);
}

body {
   background-color: var(--base-4);
   /* og: e9e9e9 */
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}

#card-container {
   min-width: max-content;
   min-height: fit-content;
   margin: 20px;
   padding: 0;
   border-radius: 10px;
   background-color: white;
   box-shadow: rgba(50, 50, 93, 0.3) 0px 50px 100px -20px, black 0px 30px 60px -30px;
}

nav {
   font-family: 'Red Hat Display';
   width: auto;
   padding: 20px;
   background-color: var(--base-5);
}

.main {
   max-width: fit-content;
   margin-left: auto;
   margin-right: auto;
}

#main-text {
   font-family: 'Kalnia Glaze';
   margin-bottom: -10px;
}

#main-center {
   max-width: fit-content;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
}

footer {
   padding: 20px;
   width: auto;
   background-color: var(--base-5);
   border-radius: 0 0 10px 10px;
}
