@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

/* Inter Tight                 |  Sans-Serif Header        */
/* Red Hat Display             |  Main Body Text           */
/* Zen Maru Gothic             |  CJK Characters           */
/* Comic Shanns Mono Nerd Font |  Code Snippets            */

:root{
   --text:      hsl(227deg, 68%, 88%);
   --subtext:   hsl(227deg, 27%, 72%);
   --base-box:  hsl(230deg, 14%, 41%);
   --base-tabs: hsl(231deg, 16%, 34%);
   --base-card: hsl(230deg, 19%, 26%);
   --base-bg:   hsl(232deg, 23%, 18%);
   --a-red:     hsl(351deg, 74%, 73%);
   --a-orange:  hsl(021deg, 86%, 73%);
   --a-green:   hsl(105deg, 48%, 72%);
   --a-teal:    hsl(171deg, 47%, 69%);
   --a-blue:    hsl(199deg, 66%, 69%);
   --shadow:    hsla(240, 30%, 28%, 0.3) 0px 50px 100px -20px, black 0px 30px 60px -30px;
}

* {
   font-family: 'Red Hat Display';
   color: var(--text);
}

/* Colour Classes */
.acc1 {
   /* red */
   color: var(--a-red);
}

.acc2 {
   /* orange */
   color: var(--a-orange);
}

.acc3 {
   /* green */
   color: var(--a-green);
}

.acc4 {
   /* teal */
   color: var(--a-teal);
}

.acc5 {
   /* blue */
   color: var(--a-blue);
}

body {
   background-color: var(--base-bg);
   /* og: e9e9e9 */
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}

#card-container {
   min-width: max-content;
   min-height: fit-content;
   margin: 20px;
   padding: 10px;
   border-radius: 10px;
   background-color: var(--base-card);
   box-shadow: var(--shadow);
}

/* Navigation Bar */
nav {
   font-family: 'Red Hat Display';
   width: auto;
   padding: 10px;
   border-radius: 10px;
   background-color: var(--base-tabs);
   box-shadow: var(--shadow);
}

#quote {
   color: var(--subtext);
   font-style: italic;
}

#navlinks {
   float: right;
}

/* Main Section */
.main {
   max-width: fit-content;
   margin-left: auto;
   margin-right: auto;
}

#main-text {
   font-weight: 600;
   margin-bottom: 10px;
   margin: 10px;
}

/* Footer */
footer {
   padding: 10px;
   width: auto;
   background-color: var(--base-tabs);
   border-radius: 10px;
}

#socials {
   margin-left: max-content;
}

.sns {
   text-decoration: none;
}

.c1:before {
   color: var(--a-red);
}

.c2:before {
   color: var(--a-orange);
}

.c3:before {
   color: var(--a-green);
}

.c4:before {
   color: var(--a-teal);
}

.c5:before {
   color: var(--a-blue);
}
