@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Base Scheme */
    --text: hsl(243, 80%, 10%);
    --subtext: hsl(243, 20%, 40%);
    --background: hsl(240, 60%, 99%);
    --primary: hsl(240, 60%, 55%);
    --secondary: hsl(243, 100%, 93%);
    --accent: hsl(350, 100%, 60%);

    /* Accent Colors */
    --accent-red: hsl(350, 100%, 60%);
    --accent-orange: hsl(27, 90%, 55%);
    --accent-yellow: hsl(51, 100%, 47%);
    --accent-green: hsl(146, 69%, 49%);
    --accent-teal: hsl(170, 56%, 48%);
    --accent-blue: hsl(240, 60%, 55%);
    --accent-mauve: hsl(280, 73%, 47%);
}

body {
    background-color: var(--accent-yellow);
    padding: 30px;
    color: var(--text);
    font-family: 'Inter Tight';
}

img {
    user-select: none;
}

#main-container {
    margin-inline: auto;
    padding: 10px;
    border-radius: 20px;
    border: 10px solid var(--text);
    border-color: var(--text);
    background-clip: padding-box;
    max-width: 500pt;
    background-color: var(--background);
}

.vines {
    margin: -15px;
    width: 50pt;
}

h1 {
    font-weight: 800;
    font-size: 10vw;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 3px;
    color: var(--background);
    text-shadow: -2px  2px 0.5px #000,
                  4px  4px 0.5px #000,
                  2px -2px 0.5px #000,
                 -2px -2px 0.5px #000;
}

.spacer {
    aspect-ratio: 900/100;
    width: 105%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
}

.headStats {
    background-image: url('./src/spacer-wave-1.svg');
}

#head {
    text-align: center;
    max-width: initial;
    margin: -10px;
    padding: 1rem;
    width: 100%;
    height: min-content;
    background: #a1c2d3;
}

.sns {
    cursor: pointer;
    margin: 5pt 2px 0px 2px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

#sns-container {
    margin-top: -10px;
    margin-bottom: -10px;
}

th {
    padding: 7pt 10pt 7pt 10pt;
    margin: 5pt;
    border-radius: 15pt;
    color: var(--background);
    background-color: var(--primary);
}

hr.dotted-link {
    
    border-style: dotted;
}

.cat-selector {
    padding: 7pt 10pt 7pt 10pt;
    margin: 5pt;
    border-radius: 15pt;
    color: var(--background);
    background-color: var(--primary);
    font-weight: 600;
}

.stuffs-grid {
    width: fit-content;
    height: fit-content;
    border: 8px solid var(--text);
    border-radius: 10px;
    background-color: var(--primary);
    padding: 0;
}

.stuffs-images {
    border: 8px solid var(--text);
    border-radius: 10px;
    margin: 8px;
}

#footer {
    text-align: center;
}

#github-mark {
    max-height: 60px;
    max-width: 60px;
}